

.header {
    background: #333;
}

.header-inner {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 0 10px;

    padding-top: 0.5rem;
}

.logo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    margin-top: -4px;
}

.header-search {
    display: flex;
    flex-direction: row-reverse;
    flex: 0 0 80%;
    border: 1px solid white;
    border-radius: 99px;

    padding-left: 20px;
    padding-right: 10px;
    background: white;
}



.search-loop {
    max-height: 23px;
}

.search:focus + .search-loop{
    filter: invert(83%) sepia(6%) saturate(5%) hue-rotate(64deg) brightness(94%) contrast(101%);
}
.search {
    width: 100%;
    border: transparent;

    margin-left: 10px;
}

.search:focus{
    outline: none;
}

.search-loop{
    margin-left: -10px;
}


.buttons{
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn {
    /* border: 1px solid white;
    color: white;
    background: transparent;
    font-family: serif;
    font-weight: bold;
    height: 40px;
    padding: 0 20px;     */

    background-image: linear-gradient(to right, #403B4A 0%, #E7E9BB  51%, #403B4A  100%);
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    margin-left: 10px;
}
         
.btn:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
         