<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <header class="header">
            <div class="header-inner">


                    <div class="logo"><a href="{{ url_for('index') }}" class="logo-lonk">ULearn</a></div>


                    <form action="" class="header-search">
                        {{ form.csrf_token }}

                        {{ form.query(class_='search')}}
                        <img class="search-loop" src="../static/imgs/svg/icons8-search.svg" alt="">
                    </form>



                    <div class="buttons">
                        <button class="btn Sign">Log in</button>
                        <button class="btn Log">Sign up</button>
                    </div>
            </div>
    </header>

    <!-- main content -->
    {% block content %}{% endblock %}
    <!-- end of main content -->

</body>
</html>